@font-face {
    font-family: Borel;
    src: url(Borel-Regular.ttf);
  }

body{
    margin: 0;
    background-color: black;
    
}

/* @property --color1{
    syntax: '<color>';
    inherits: false;
    initial-value: black;
} */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
}

.header img{
    
    align-self: center;
    justify-content: center;
    height: 100%;
    image-rendering: pixelated;
    
}

.header{
    display: flex;
    background:rgb(0, 0, 0);
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-content:center;
    transition: height 0.3s;
    font-size:16px;
    transition: all 0.3s;
}
@keyframes colors{
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}
.header:hover{
    display: flex;
    background:linear-gradient(purple, rgb(0, 0, 0));
    background-blend-mode: overlay;
    background-size: contain;
    background-origin: 0px;

    height: 150px;
    border-bottom: 10px solid black;
    justify-content: space-between;
    
    align-content:center;
    font-size: 48px;
    transition: all 0.3s;
}

.header p{
    padding: 0px 10px 0 10px;
    align-content:center;
}

.cake{
    flex: 1;
}
.headerText{
    flex: 1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 0px 0px 2px black;
    font-weight: 900;
    font-size: 24px;
    color: aliceblue;
    margin: 0;
}
.headerText:hover{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 0px 0px 2px black;
    font-weight: 900;
    color: aliceblue;
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: radial-gradient(var(--color1), black), url(images/confetti.gif);; */
    background: radial-gradient(black, purple), url(images/confetti.gif);
    background-blend-mode: difference;
    background-size: contain;
    width: 100%;
    animation-name: colors;
    animation-duration: 2s;
    animation-iteration-count: 1;

}
.text{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(black, rgba(0, 0, 0, 0));
    font-size: 30px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text strong{
    font-size: 56px;
    color: chartreuse;
}

.text::onload{
    opacity: 0;
}

.text2{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0),black );
    font-size: 30px;
    font-family: Borel, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.text2 p{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 60%;
}
.game{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    backdrop-filter: blur(10px, 2px);
    padding: 10px 10px 10px 10px;
    width: 800px;
    height: 60%;
    box-shadow: 0px 0px 50px 10px rgb(0, 0, 0);
    border-radius: 5px;
    align-content: center;
    justify-content: center;
}

#one{
    border-radius: 16px;
    font-size: 40px;
    text-transform:uppercase;
    font-weight: 900;
}

#two{
    padding: 10px;
    border-radius: 16px;
    width: 70%;
    justify-self: center;
    align-self: center;
}

.imgs{
    align-self: center;
    width: 30%;
}

#bottom{
    font-weight: 900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
}